.store-container {
    --menu-size: 30px;

    input {
        position: absolute;
        right: 0%;
        margin: 1rem;

        display: block;
        width: var(--menu-size);
        height: var(--menu-size);

        cursor: pointer;

        opacity: 0;

        z-index: 1;
    }

    .hamburger {
        position: absolute;
        right: 0%;
        margin: 1rem;
        pointer-events: none;
        z-index: 2;

        .meat {
            display: block;
            width: var(--menu-size);
            height: 4px;
            margin-bottom: 5px;
            position: relative;
    
            background: #cdcdcd;
            border-radius: 3px;
        }
        &:hover {
            opacity: 0.5;
        }
    }

    // checked box precedes store
    input:checked ~ .store {
        transform: none;
    }

    .store {
        width: 0px;
        height: 100%;
        background-color: #293a4c;

        width: 300px;
        padding: 1rem;
        border-left: 5px white solid;

        transform: translateX(100%);

        position: absolute;
        right: 0;
        top: 0;

        font-size: 1.5rem;
        transition: 0.2s;

        .store-title {
            font-size: 3rem;
        }

        .upgrade {
            margin-bottom: 0.5rem;
            transition: 0.2s;
            cursor: pointer;
            height: 3rem;
            display: flex;

            &:hover {
                opacity: 0.7;
            }

            .upgrade-details {
                display: flex;
                flex-direction: column;
            }

            .upgrade-cost {
                font-size: 1rem;
            }

            .upgrade-total {
                margin-left: auto;
                opacity: 0.7;
            }

            &.disabled {
                cursor: unset;
                opacity: 0.5;
            }
        }
    }
}